html {
   
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    color: rgba(28, 115, 1, 0.947);
}
h3{
    margin: 0px 0px 0px 20px;
}
.main {
    background-color: rgba(255, 228, 196, 0.151);
}

.video{
    text-align: center;
    margin: 50px 20px 0px 20px;

    
}

.skills{
    font-size: 22px;
    margin: 50px 0px 20px 50px;
    color: rgba(28, 115, 1, 0.947)}

.hard{
padding: 0 auto;
    background-color: rgba(16, 183, 102, 0.073);
}
.soft{
    background-color: rgba(21, 210, 213, 0.073);
}